.add_entity{
    font-weight: bold;
    width: 13% !important;
    height: 50px;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 15px !important;
    background-color: #F8C471 
    ;
  
  
  }
.add-cluster{
    width: 15%;
    margin-left: 87%;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.icon_click{
  cursor: pointer;
  margin-top: -4px;
  margin-left: 10px;
}

.border{
  border: 1px solid black !important;
  border-collapse: collapse;
}

.kafdrop-link{
  text-decoration: none;
}